<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="vue.js"></script>

    <div id="app">
        <ul>
            <li v-for="(fruit, index) in fruits">({{ index }}){{ fruit }}</li>
        </ul>
        <ul>
            <li v-for="(value, key, index) in object">{{ key }}-{{ value }}-{{ index }}番目</li>
        </ul>
    </div>
    

    <script>
        new Vue ({
            el: '#app',
            data: {
                fruits: ['apple', 'banana', 'orange'],
                object: {
                    firstName: '太郎',
                    lastName: '田中',
                    age: 21
                }
            }
        })
    </script>
</body>
</html>